@import "vars";
@import "bootstrap-5.3.3/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");

/* Custom Styles */

html, .default {
  height: 100%;
  margin: 0;
}
  
.default {
  position: relative;
  background-color: #0A0A0A; // fallback
  z-index: 0;
}
  
.default::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('/grid.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.1; // Adjust opacity here
  z-index: -1;
  pointer-events: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: Georgia, serif;
}

.card-hover {
  // Force GPU layer & smoother edges:
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);

  // Border stays dark:
  border: 1px solid $primary;

  // Replace outline with a “stroke” via box-shadow:
  box-shadow: 0 0 0 1px $primary;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-link:hover .card-hover {
  transform: scale(1.06) translateZ(0);
  // bump up the “stroke” on hover:
  box-shadow: 0 0 0 2px $primary;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card-image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%; // 1:1 aspect ratio
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.datomancer-article {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Georgia, serif;
  line-height: 1.7;
  color: inherit;

  h1, h2, h3, h4 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1.2;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.15rem;
    margin-bottom: 1.25rem;
  }

  ul, li{
    font-size: 1.15rem;
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  blockquote {
    margin: 1.5rem 0;
    padding-left: 1rem;
    border-left: 3px solid #ccc;
    color: #666;
    font-style: italic;
  }

  code, pre {
    font-family: monospace;
    background-color: #f4f4f4;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
  }

  pre {
    display: block;
    padding: 1rem;
    overflow-x: auto;
  }
}